* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: $color-white;
    color: $color-letra-basico;
	font-family: sans-serif;
	height: 100%;
	margin: 0px;
    padding: 0px;
}
    	.titulo{
    		color: $color-titulo;
    	}
	


.menu{
	background-color: $color-menu;
	top: 69px;
	padding: 10px;
    text-align: center;

	.menu-lista{
		list-style-type: none;
	
	

		.categoria{
		
		
			.categoria-link{
				text-decoration: none;
				font-size: $letra-menu;
   				padding: 27px;
   				color: $color-letra-menu-uno;
   					&:hover{
   					color: $color-letra-menu-dos;
   					background-color:$color-menu-hover;
   					}
			}
			.buscar{
				
    			margin-top: 0px;
    			

			}
		}
	}
}

//footer
.footer { 

	.title-img-footer {
	width: 100%;
	background-color: $color-menu-hover;
	height: 50px;
	color: $color-letra-menu-uno;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-image: url("../dist/img/linkedin.png");
	background-size: 3% 60%;
	background-repeat: no-repeat;
	background-position: 530px 10px;
	cursor: hand;
	cursor: pointer;
	}
}